:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  --blue: #61D1FD;
  --green: #57A773;
  --red: #EA3546;
  --orange: #FFA62B;
}

:root.tashi-upper, :root.tashi-lower {
  --accent: #61D1FD;
  --muted: #AEE8FE;
}

:root.hiki {
  --accent: #57A773;
  --muted: #87C09B;
}

:root.kake {
  --accent: #EA3546;
  --muted: #EF6B79;
}

:root.wari {
  --accent: #FFA62B;
  --muted: #FFC370;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

input, button {
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
}

#container {
  display: grid;
  width: 100vw;
  height: 100dvh;
  grid-template-rows: 1fr 6rem;
  grid-template-areas: 'card' 'buttons';
  background-color: #C4AED6;
}

#card-container {
  grid-area: card;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 5.625rem;
  font-weight: 700;
  color: black;
  height: 100%;
}

#card {
  background-color: transparent;
  position: relative;
  transform-style: preserve-3d;
  isolation: isolate;
  width: 90vw; 
  aspect-ratio: 20 / 9; 
  perspective: 1000px; 
}

@media (min-width: 996px) {
  #card {
    width: 30vw; 
  }
  #card-container {
    font-size: 7.5rem;
  }
}

#card-face {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s  ;
  transform-style: preserve-3d;
}

#first, #front, #back {
  z-index: 1;
  border: 0.625rem solid #f5f5f5;
  border-radius: 0.375rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

#ring-container {
  z-index: 10;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

#ring {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border: 0.625rem solid black;
  border-radius: 50%;
  background: transparent;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

#front {
  background-color: var(--muted);
}

#first {
  transform: rotate(180deg);
  transform-origin: left top;
  background-color: var(--accent);
}

#card.flip #card-face {
  transform: rotateX(180deg);
}

#back {
  background-color: var(--accent);
  transform: rotateX(180deg);
}

#buttons {
  grid-area: buttons;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  gap: 0.5rem;
}

#flip {
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  z-index: 3;
  background-color: var(--accent);
  border: 0.625rem solid #f5f5f5;
  text-wrap: nowrap;
  border-radius: 0.375rem;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(0);
  transform-origin: left top;
  transition: transform 0.5s ease;
  backface-visibility: hidden;
}

#flip.flip {
  transform: rotate(180deg);
}

#counter {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: black;
}

.operation {
  font-size: 1.25rem;
  border: 0.25rem solid #f5f5f5;
  height: 2.5rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.operation[data-operation='tashi-lower'], 
.operation[data-operation='tashi-upper'] {
  background-color: var(--blue);
}

.operation[data-operation='hiki'] {
  background-color: var(--green);
}

.operation[data-operation='kake'] {
  background-color: var(--red);
}

.operation[data-operation='wari'] {
  background-color: var(--orange);
}